In [5]:
import pandas as pd
from ydata_profiling import ProfileReport

In [6]:
df = pd.read_csv('mark.csv')
df

       Name  Hindi  English  Science  Computer
0     Jones     72       95       88         52
1    Kivell     80       73       50         94
2   Jardine     79       78       50         52
3      Gill     94       75       79         96
4   Sorvino     76       94       82         58
5     Jones     92       76       53         74
6   Andrews     84       75       84         67
7   Jardine     84       83       83         66
8  Thompson     80       70       74         79
9     Jones     55       90       55         99

In [3]:
profile = ProfileReport(df)

In [9]:
profile.to_file('outp.html')

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [10]:
import seaborn as sns

In [14]:
dff = sns.show_dataset('iris')
dff

AttributeError: module 'seaborn' has no attribute 'show_dataset'